:root {
  --color--beige: #D4BB96;
  --color--blue: #01304A;
  --color--crimson: #B00000;
  --color--dark-gray: #333;
  --color--fog: #DDD;
  --color--forest-green: #006F2D;
  --color--graphite: #151515;
  --color--green: #00B548;
  --color--gray: #555;
  --color--light-gray: #777;
  --color--red: #B00000;
  --color--white: #FFF;
}
