:root {
  --border-radius: 0.4rem;
  --gap-xxxs: 0.8rem;
  --gap-xxs: 1.6rem;
  --gap-unit: 3.2rem;
  --gap-xxs: calc(0.25 * var(--gap-unit)); /* 8px */
  --gap-xs: calc(0.5 * var(--gap-unit)); /* 16px */
  --gap-sm: calc(0.75 * var(--gap-unit)); /* 24px */
  --gap: calc(1.25 * var(--gap-unit)); /* 40px */
  --gap-lg: calc(2 * var(--gap-unit)); /* 64px */
  --gap-xl: calc(3.25 * var(--gap-unit)); /* 104px */
  --gap-xxl: calc(5.25 * var(--gap-unit)); /* 168px */
  --max-width: 150rem;
  --max-width-sm: calc(var(--max-width) * 0.8);
  --max-width-xs: calc(var(--max-width) * 0.6);
  --max-width-lg: calc(var(--max-width) * 1.2);
  --max-width-xl: calc(var(--max-width) * 1.4);
  --primary-font: "Arial", sans-serif;
  --secondary-font: "Georgia", serif;
  --transition-dur: 0.2s;
}
