/* Reset Stuff */

* {
  margin: 0;
  padding: 0;
}

/* Border Box for all */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/* No Horizontal Scrolling */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Vanity Styles */

::selection {
  background: var(--selection-background-color, var(--color--blue));
  color: var(--selection-color, var(--color--white));
}

/* Base List Styles */

ul,
ol {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

/* Embeds */

object,
embed {
  height: 100%;
}

/* Base Image Styles / SS Image Styles */

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

/* Buttons */

button {
  background-color: transparent;
  border: 0;
}
