html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

::selection {
  background: var(--selection-background-color, var(--color--blue));
  color: var(--selection-color, var(--color--white));
}

ul,
ol {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

object,
embed {
  height: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: 0;
}
