:root {
  --input-styles: {
    appearance: none;
    background-color: #fff;
    border: 0.1rem solid var(--offset-color-medstrong);
    border-radius: 0;
    box-shadow: none;
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: 1.6rem;
    height: auto;
    line-height: 1.3;
    margin: 0;
    outline: none;
    padding: 0.8rem;
  }

  --input-focus-styles {
    border: 0.1rem solid var(--secondary-color);
    box-shadow: none;
    outline: 0 none;
  }

  --label-styles {
    color: var(--text-color-strong);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 !important;
    padding: 0 0 var(--gap-xxs) 0;
  }

  --alert-box-styles {
    border-radius: var(--border-radius);
    color: #fff;
    padding: var(--gap-sm);
    text-align: center;

    strong {
      color: #fff;
    }
  }

  --success-box-styles: {
    background-color: var(--success-color-dark);
    border: 0.4rem solid var(--success-color-verydark);
  }

  --error-box-styles: {
    background-color: var(--alert-color-dark);
    border: 0.4rem solid var(--alert-color-verydark);
  }
}

form {
  display: block;
  margin: 0 0 var(--gap) 0;

  label {
    &.left {
      @apply --label-styles;
      display: block;

      small {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    &.right {
      font-size: 1.6rem;
    }
  }

  legend {
    &.left {
      @apply --label-styles;
    }
  }

  ul,
  ol {
    font-size: 1.6rem;
    margin: 0;
    padding: 0 0 var(--gap-sm) var(--gap);

    li {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      &.even {
        background-color: none;
      }
    }
  }

  h2,
  .FormHeading {
    border-bottom: 0.1rem solid var(--offset-color);
    border-top: 0.1rem solid var(--offset-color);
    font-size: 2.2rem;
    line-height: 1.3;
    margin: var(--gap-xs) 0 var(--gap-sm);
    padding: var(--gap-xs) 0;
    width: 100%;
  }
}

fieldset {
  border: 0;
  margin-bottom: var(--gap-sm);
}

.fields {
  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }
  display: grid;
  grid-gap: var(--gap-xs) var(--gap-xxs);
  grid-template-columns: 1fr;
}

.step-navigation {
  .step-buttons {
    padding: 0;
  }
}

input {
  @apply --input-styles;
  width: 100%;

  &:focus,
  &:active,
  &:target {
    @apply --input-focus-styles;
  }

  &.checkbox {
    appearance: checkbox;
    height: auto;
    margin-right: var(--gap-xxs);
    width: auto;
  }
}

textarea {
  @apply --input-styles;
  width: 100%;

  &:focus {
    @apply --input-focus-styles;
  }
}

select {
  appearance: menulist-button;
  border: 0.1rem solid var(--offset-color-verystrong);
  font-size: 1.4rem;
  height: 3.4rem;
  line-height: 1.3;
  max-width: 54rem;
  width: auto;

  &[multiple] {
    height: auto;
  }
}

.field {
  &.textarea {
    grid-column: 1 / -1;
  }

  &.checkbox {
    align-items: center;
    display: flex;
  }
}

ul {
  &.optionset,
  &.checkboxset {
    display: block;
    margin: 0;
    padding: 0 0 var(--gap-sm) 0;
    width: 100%;

    li {
      align-items: center;
      display: flex;
      list-style: none;
    }

    input {
      margin: 0 0.8rem;
      padding: 0;
    }
  }

  &.checkboxset {
    input {
      appearance: checkbox;
    }
  }
}

.middleColumn {
  clear: left;
  position: relative;
  width: auto;
}

.editable-area {
  .checkboxsetfield,
  .optionset {
    margin: 0;
    padding: 0;
  }
}

label {
  &.right {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.error-message {
  color: var(--alert-color-dark);
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
}

.error-messages {
  @apply --alert-box-styles;
  @apply --error-box-styles;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity var(--transition-dur);

  li {
    padding-left: var(--gap-sm);
    padding-right: var(--gap-sm);

    &:first-child {
      padding-top: var(--gap-sm);
    }

    &:last-child {
      padding-bottom: var(--gap-sm);
    }
  }

  &--active {
    margin-bottom: var(--gap);
    opacity: 1;
  }
}

.message {
  &.bad,
  &.error {
    color: var(--alert-color);
    display: block;
    font-weight: 700;
    margin: var(--gap-xxs) 0 0;
  }
}

.success {
  @apply --alert-box-styles;
  @apply --success-box-styles;
  display: block;
  margin: 0 0 var(--gap-sm) 0;
}

.form-text {
  color: var(--text-color);
}

.action {
  @apply (--btn-styles);
  @apply (--primary-btn-styles);
}
