/* Block Stuff */

.block {
  padding: var(--gap) 0;

  &--lg {
    padding: var(--gap-lg) 0;
  }

  &--xl {
    padding: var(--gap-xl) 0;
  }

  &--xxl {
    padding: var(--gap-xxl) 0;
  }

  &--xl-on-md {
    @media (--md) {
      padding: var(--gap-xl) 0;
    }
    padding: var(--gap) 0;
  }

  &--white-color {
    background-color: #fff;
  }

  &--offset-color {
    background-color: var(--offset-color-medsubtle);
  }

  &--primary-color {
    background-color: var(--primary-color);
  }

  &--secondary-color {
    background-color: var(--secondary-color);
  }

  &--dark-color {
    background-color: var(--dark-color);
  }
}

/* Wrapper Stuff */

.wrapper {
  @media (--md) {
    padding: 0 var(--gap-xl);
  }
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--gap);
  position: relative;
  width: 100%;

  &--sm {
    max-width: var(--max-width-sm);
  }

  &--xs {
    max-width: var(--max-width-xs);
  }

  &--lg {
    max-width: var(--max-width-lg);
  }

  &--xl {
    max-width: var(--max-width-xl);
  }
}
