body {
  color: var(--body-color, var(--color--gray));
  font-family: var(--font-family--primary);
  font-size: var(--font-size--p);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

p,
pre,
address {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color--graphite);
  font-family: var(--font-family--secondary);
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-size: var(--font-size--h1);
}

h2 {
  font-size: var(--font-size--h2);
}

h3 {
  font-size: var(--font-size--h3);
}

h4 {
  font-size: var(--font-size--h4);
}

h5 {
  font-size: var(--font-size--h5);
}

h6 {
  font-size: var(--font-size--h6);
}

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:hover {
    color: var(--link-color--hover);
  }
}

strong {
  font-weight: 700;
}

small {
  font-size: var(--font-size--p-sm);
}

code {
  color: var(--color--light-gray);
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: var(--font-family--primary);
}
