body {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

p,
pre,
address {
  margin: 0 0 var(--gap);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-darker);
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-size: 2.8rem;

  @media (--md) {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2.4rem;

  @media (--md) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 2.1rem;

  @media (--md) {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 1.8rem;

  @media (--md) {
    font-size: 2.1rem;
  }
}

h5 {
  font-size: 1.6rem;

  @media (--md) {
    font-size: 1.8rem;
  }
}

h6 {
  font-size: 1.5rem;

  @media (--md) {
    font-size: 1.6rem;
  }
}

a {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;

  &:hover {
    color: var(--secondary-color);
  }
}

strong {
  font-weight: 700;
}

small {
  font-size: calc(1.3rem + 0.1vw);
}

code {
  color: var(--text-color-light);
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: var(--primary-font);
}
