
/* Typography Classes */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.reversed-color {
  color: #fff;
}

.primary-color {
  color: var(--primarycolor);
}

.secondary-color {
  color: var(--secondarycolor);
}

.all-caps {
  text-transform: uppercase;
}

/* Clearfix */

:root {
  --clearfix: {
    &::before,
    &::after {
      content: ' ';
      display: table;
    }

    &::after {
      clear: both;
    }
  };
}

/* Hide / Show Class */

.hide {
  display: none;
}
