
html {
  font-size: 100%;
}

body {
  color: var(--text-color);
  font-family: 'Lato';
  font-size: calc(15px + .1vw);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

p,
pre,
address {
  margin: 0 0 var(--gap) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-medstrong);
  font-family: 'Lora';
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-size: calc(28px + .3vw);
}

h2 {
  font-size: calc(24px + .3vw);
}

h3 {
  font-size: calc(21px + .3vw);
}

h4 {
  font-size: calc(18px + .15vw);
}

h5 {
  font-size: calc(16px + .15vw);
}

h6 {
  font-size: calc(14px + .15vw);
}

a {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;

  &:hover {
    color: var(--secondary-color);
  }
}

strong {
  font-weight: 700;
}

small {
  font-size: calc(13px + .1vw);
}

code {
  color: var(--text-color-subtle);
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-weight: 400;
}
