#Environment
SS_ENVIRONMENT_TYPE="dev"
SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="pass"
SS_BASE_URL

# Database
SS_DATABASE_CLASS="MySQLDatabase"
SS_DATABASE_SERVER="db"
SS_DATABASE_NAME="db"
SS_DATABASE_USERNAME="db"
SS_DATABASE_PASSWORD="db"

# Mail
MAILER_DSN="smtp://localhost:1025"
SS_DATABASE_PORT="3306"

# Remote
REMOTE_SSH_PORT=""
REMOTE_SSH_USER=""
REMOTE_SSH_HOST=""
REMOTE_DB_USER=""
REMOTE_DB_PASS=""
REMOTE_DB_NAME=""
