{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "ignoreFiles": [
    "node_modules/**",
    "public/**",
    "vendor/**"
  ],
  "rules": {
    "custom-property-pattern": null,
    "declaration-empty-line-before": null,
    "selector-class-pattern": null,
    "order/properties-alphabetical-order": true
  }
}
