
:root {
  --pagination-gap: 6px;
}

.pagination {
  align-items: center;
  display: flex;
  font-size: calc(1.5rem + .1vw);
  margin: var(--gap-lg) 0 var(--gap-lg) 0;
}

.pagination__item {
  margin: 0 var(--pagination-gap) var(--pagination-gap) 0;

  &--active {
    .pagination__link {
      background-color: var(--primary-color);
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }
}

.pagination__link {
  background-color: var(--offset-color-subtle);
  border-radius: var(--border-radius);
  color: var(--text-color-subtle);
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: $transition-duration;

  &:hover {
    color: var(--primary-color);
  }
}
