
// Base Typography

$sans-serif-font: unquote('arial, helvetica, sans-serif');
$serif-font: unquote('georgia, times, serif');

// Border Box for all

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Vanity Styles

::selection {
  background: $primarycolor;
  color: $white;
}

// Base List Styles

ul,
ol {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

// Embeds

object,
embed {
  height: 100%;
}

// Base Image Styles / SS Image Styles

img {
  -ms-interpolation-mode: bicubic;
  display: block;
  height: auto;
  max-width: 100%;

  &.left {
    @include rem(margin, 0 $gap $gap 0);
    float: left;
  }

  &.right {
    @include rem(margin, 0 0 $gap $gap);
    float: right;
  }

  &.leftAlone,
  &.left-alone {
    @include rem(margin, 0 0 $gap 0);
    display: block;
    float: none;
  }

  &.center {
    @include rem(margin, 0 auto $gap auto);
    display: block;
  }

  &.no-float {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.captionImage {
  @include rem(margin-bottom, $gap);
  max-width: 100%;

  img {
    @include rem(margin-bottom, $gap-xs);
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;

    .caption {
      @include rem(margin, 0 auto);
      text-align: center;
      width: 90%;
    }
  }

  &.right {
    @include rem(margin-left, $gap);
    float: right;
  }

  &.left {
    @include rem(margin-right, $gap);
    float: left;
  }

  &.leftAlone {
    @include rem(margin-right, $gap);
  }

  &.no-float {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.caption {
  @include rem(font-size, 16px);
  @include rem(line-height, 22px);
  font-family: $serif-font;
  margin: 0;
  text-align: left;
  width: 100%;
}
