
// Typography Classes

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-reversed {
  color: $white;
}

.primary-color {
  color: $primarycolor;
}

.secondary-color {
  color: $secondarycolor;
}

.all-caps {
  text-transform: uppercase;
}

// Hide / Show Class

.hide {
  display: none;
}

.hide--on-md {
  @include bp(md) {
    display: none;
  }
}

// Structural Classes

%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.inline {
  display: inline;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}
