
:root {
  --border-radius: 4px;
  --gap: 30px;
  --gap-sm: calc(var(--gap) * .8);
  --gap-xs: calc(var(--gap) * .4);
  --gap-lg: calc(var(--gap) * 1.3);
  --gap-xl: calc(var(--gap) * 1.6);
  --gap-xxl: calc(var(--gap) * 2);
  --max-width: 1200px;
  --max-width-sm: calc(var(--max-width) * .8);
  --max-width-xs: calc(var(--max-width) * .6);
  --max-width-lg: calc(var(--max-width) * 1.2);
  --max-width-xl: calc(var(--max-width) * 1.4);
  --transition-duration: .2s;
}
