:root {
  --btn-styles: {
    appearance: none;
    border: 0.2rem solid transparent;
    border-radius: var(--border-radius);
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-size: calc(1.3rem + 0.1vw);
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-bottom: 0;
    padding: 1.8rem 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color var(--transition-dur),
      color var(--transition-dur);
    vertical-align: middle;
    white-space: nowrap;
  }

  --primary-btn-styles: {
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
      background-color: var(--primary-color-dark);
      color: #fff;
    }
  }
}

.btn {
  @apply (--btn-styles);

  &--primary {
    @apply (--primary-btn-styles);
  }

  &--secondary {
    background-color: var(--secondary-color);
    color: #fff;

    &:hover {
      background-color: var(--secondary-color-dark);
      color: #fff;
    }
  }

  &--offset {
    background-color: var(--neutral-color-lighter);
    color: var(--text-color);
    font-weight: 400;

    &:hover {
      background-color: var(--neutral-color);
      color: var(--text-color);
    }
  }

  &--sm {
    font-size: calc(1.1rem + 0.1vw);
    padding: 1rem 1.8rem;
  }

  &--full {
    display: block;
    width: 100%;
  }

  &--inline-on-md {
    @media (--md) {
      display: inline-block;
      width: auto;
    }
  }

  &--ghost {
    background-color: transparent;
    border-color: var(--dark-color);
    color: var(--dark-color);

    &:hover {
      background-color: var(--dark-color);
      border-color: transparent;
      color: #fff;
    }
  }
}

/* Buttons Group */

.btns-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap-xxs) / 2 * -1);

  &--centered {
    justify-content: center;
  }

  &--centered-on-xl {
    justify-content: center;

    @media (--xl) {
      justify-content: flex-start;
    }
  }

  &--right {
    justify-content: flex-end;
  }

  &--full-on-mobile {
    > * {
      width: 100%;

      @media (--md) {
        width: inherit;
      }

      &:not(:last-child) {
        margin-bottom: var(--gap-xs);

        @media (--md) {
          margin-bottom: inherit;
        }
      }
    }

    .btn {
      width: 100%;

      @media (--md) {
        width: inherit;
      }
    }
  }

  > * {
    margin-bottom: var(--gap-xxs);
    padding: 0 calc(var(--gap-xxs) / 2);
  }
}
