:root {
  --input {
    appearance: none;
    background-color: var(--color--white);
    border: var(--border-width) solid var(--color--beige);
    border-radius: 0;
    box-shadow: none;
    color: var(--color--blue);
    font-family: var(--font-family--primary);
    font-size: var(--font-size--p);
    height: auto;
    line-height: 1.3;
    margin: 0;
    outline: none;
    padding: var(--gap-static--sm);
  }

  --input-focus {
    border-color: var(--color--beige);
    box-shadow: none;
    outline: 0 none;
  }

  --label {
    color: var(--color--navy-blue);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 !important;
    padding: 0 0 var(--gap--xxs) 0;
  }
}

form {
  display: block;
  margin: 0 0 var(--gap) 0;

  label {
    &.left {
      @apply --label;
      display: block;
    }
  }
}

fieldset {
  border: 0;
  margin-bottom: var(--gap--sm);
}

.fields {
  display: grid;
  grid-gap: var(--gap--xs) var(--gap--xxs);
  grid-template-columns: 1fr;

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }
}

.step-navigation {
  .step-buttons {
    padding: 0;
  }
}

input {
  @apply (--input);
  width: 100%;

  &:focus,
  &:active,
  &:target {
    @apply (--input-focus);
  }

  &.checkbox {
    appearance: checkbox;
    height: auto;
    margin-right: var(--gap--xxs);
    width: auto;
  }
}

textarea {
  @apply --input;
  width: 100%;

  &:focus {
    @apply (--input-focus);
  }
}

select {
  appearance: menulist-button;
  border: var(--border-width) solid var(--color--blue);
  font-size: var(--font-size--p);
  height: 34px;
  line-height: 1.3;
  max-width: 540px;
  width: auto;

  &[multiple] {
    height: auto;
  }
}

.field {
  &.textarea {
    grid-column: 1 / -1;
  }

  &.checkbox {
    align-items: center;
    display: flex;
  }
}

ul {

  &.optionset,
  &.checkboxset {
    display: block;
    margin: 0;
    padding: 0 0 var(--gap--sm);
    width: 100%;

    li {
      align-items: center;
      display: flex;
      list-style: none;
    }

    input {
      margin: 0 var(--gap-static--xxs);
      padding: 0;
    }
  }

  &.checkboxset {
    input {
      appearance: checkbox;
    }
  }
}

.middleColumn {
  clear: left;
  position: relative;
  width: auto;
}

.editable-area {

  .checkboxsetfield,
  .optionset {
    margin: 0;
    padding: 0;
  }
}

label {
  &.right {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.form-text {
  color: var(--color--navy-blue);
}

.action {
  @apply (--btn);
  @apply (--btn--pill);
}
