:root {
  --pagination-gap: 0.6rem;
}

.pagination {
  align-items: center;
  display: flex;
  font-size: calc(1.5rem + 0.1vw);
  margin: var(--gap-lg) 0 var(--gap-lg) 0;
}

.pagination__item {
  margin: 0 var(--pagination-gap) var(--pagination-gap) 0;

  &--active {
    .pagination__link {
      background-color: var(--color--blue);
      color: var(--color--white);

      &:hover {
        color: var(--color--white);
      }
    }
  }
}

.pagination__link {
  background-color: var(--color--fog);
  border-radius: var(--border-radius);
  color: var(--color--light-gray);
  display: block;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  transition-duration: var(--transition-dur);

  &:hover {
    color: var(--color--blue);
  }
}
