
/* ==========================================================================
   Forms
   ========================================================================== */

form {
  display: block;
  @include rem(margin, 0 0 $spacing-fixed 0);
}
fieldset {
  border: 0;
  @include rem(margin, 0 -7.5px);
  padding: 0;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  background: $offsetcolor;
  border: 1px solid $offsetcolor_verystrong;
  color: $textcolor;
  @include primaryfont();
  @include rem(font-size, 16px);
  @include rem(line-height, 23px);
  height: auto;
  margin: 0;
  @include rem(padding, 6px);
  outline: none;
  @include border-radius(0);
  @include box-shadow(none);
}
select {
  border: 1px solid $offsetcolor_verystrong;
  @include rem(font-size, 14px);
  @include rem(line-height, 21px);
  @include rem(height, 34px);
  -webkit-appearance: menulist-button;
}
select[multiple] {
  height: auto;
}
input.text:focus,
textarea:focus {
  background: #fff;
  border: 1px solid #555;
  outline: 0 none;
}
textarea, .textarea {
  display: block;
  width: 100%;
  @include bp(md) {
    width: 100%;
  }
}
input.text { width: 100%; }
.text, .email {
  width: 50%;
  @include bp(md) {
    width: 100%;
  }
}
.literal {
  width: 100%;
}
#Spam, .optionset, .checkboxset {
  clear: both;
  display: block;
}
.optionset, .checkboxset {
  width: 100%;
}
.field {
  @include rem(margin, 0 -2px $spacing-fixed-sm -2px);
  @include rem(padding, 0 7.5px);
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
  @include bp(md) {
    margin-right: 0;
  }
}
.field.checkbox {
  input.checkbox {
    float: left;
    @include rem(margin, 6px 6px 0 0);
  }
  label.right {
    float: left;
  }
}
.field.mathspamprotector {
  display: block;
  width: 100%;
  input.mathspamprotector {
    @include rem(width, 100px);
  }
}
form label.left {
  color: $textcolor_strong;
  @include primaryfont();
  @include rem(font-size, 18px);
  @include rem(line-height, 25px);
  font-weight: 700;
  margin: 0; 
  @include rem(padding, 0 0 $spacing-fixed-xs 0);
  clear: both;
}
form label.left small {
  @include rem(font-size, 14px);
  @include rem(line-height, 21px);
  font-weight: 400;
}
.middleColumn { 
  clear: left;
  position: relative;
  width: auto;
}
.editable-area ul.checkboxsetfield, .editable-area ul.optionset {
  margin: 0;
  padding: 0;
}
form ul, form ol {
  @include rem(font-size, 16px);
  @include rem(line-height, 22px);
  margin: 0;
  @include rem(padding, 0 0 $spacing-fixed-sm $spacing-fixed);
  li { @include rem(margin-bottom, 5px); }
  li:last-child { margin-bottom: 0; }
}
form ul.optionset, form ul.checkboxset {
  @include rem(padding, 0 $spacing-fixed-xs $spacing-fixed-sm $spacing-fixed-xs);
  li {
    list-style: none;
  }
}
form li.even { background: none; }
.optionset input, .checkboxsetfield input { 
  border: 0;
  display: block;
  float: left;  
  @include rem(margin, 4px $spacing-fixed-xs 0 0);
  padding: 0;
}
div.tab .field .middleColumn { clear: none !important; margin: 0 !important; width: auto; }
select { 
  @include rem(max-width, 540px);
  width: auto;
}
input:focus span,
textarea:focus span { border: 3px solid #000; }
input.action:hover,
input.action:focus { cursor: pointer; }
label.right {
  @include rem(padding, 0 0 5px 0);
  margin: 0;
  text-align: left;
}
.required label.left:after, .requiredField label.left:after, .mathspamprotector label.left:after {
  content:" *";
  color: $alertcolor;
  font-weight: 400;
}
#ContactForm_ContactForm span.required {
  color: $alertcolor;
}
#Form_Form span.required {
  background: $alertcolor_dark;
  color: #fff;
  @include rem(padding, $spacing-fixed-xs $spacing-fixed-sm);
  width: 100%;
  font-weight: 700;
  @include rem(font-size, 16px);
  @include rem(line-height, 22px);
  display: block;
  position: relative;
  text-align: center;
  @include rem(top, -2px);
}
#Form_Form span.required:before {
  display: block;
  content: "";
  @include ctr(x);
  @include rem(top, -7px);
  @include rem(margin-left, -7px);
  @include triangle(up, 7px, $alertcolor);
}
#Form_Form span.message.error {
  @include rem(margin-top, 10px);
  color: $alertcolor_dark;
  font-weight: 700;
  @include rem(font-size, 16px);
  @include rem(line-height, 22px);
  display: block;
}
.success {
  color: #fff;
  @include rem(font-size, 18px);
  @include rem(line-height, 23px);
  font-weight: 700;
  text-align: center;
  @include rem(padding, $spacing-fixed-sm);
  background: $successcolor_dark;
  border: 3px solid $successcolor_meddark;
  display: block;
  @include rem(margin, 0 0 $spacing-fixed-sm 0);
}


/* ==========================================================================
   Typography
   ========================================================================== */

form h2, .FormHeading {
  @include rem(font-size, 22px);
  @include rem(line-height, 29px);
  border-bottom: 1px solid $offsetcolor;
  border-top: 1px solid $offsetcolor;
  clear: both;
  @include rem(margin, $spacing-fixed-xs 0 $spacing-fixed-sm); 
  @include rem(padding, $spacing-fixed-xs 0);
  width: 100%;
}
.login-logo {
  @include rem(margin, 0 auto $spacing-fixed-xs auto);
}
.form-text { color: $textcolor; }


/* ==========================================================================
   Login Form
   ========================================================================== */

#Remember {
  display: none;
}
#ForgotPassword {
  color: $textcolor_subtle;
  float: left;
  @include rem(padding, 4px 0 0 $spacing-fixed-xs);
}
#ForgotPassword:before {
  content: "or ";
}
#MemberLoginForm_LoginForm_action_dologin {
  float: left;
}
#MemberLoginForm_LoginForm {
  text-align: center;
  label.left {
    display: block;
    text-align: left;
  }
}


/* ==========================================================================
   User Forms Page
   ========================================================================== */

.ui-datepicker th {
  color: #fff;
}
