/* ==========================================================================
   Imports
   ========================================================================== */ 

@import "compass";
@import '../../../../bower_components/normalize-scss/normalize';
@import '../../../../bower_components/jeet/scss/jeet/index';
@import "settings";
@import "forms";


/* ==========================================================================
   Reset Stuff
   ========================================================================== */ 

html { @include box-sizing(border-box); }
*, *:before, *:after { @include box-sizing(inherit); }


/* ==========================================================================
   Reusable Components
   ========================================================================== */ 

/* Grid Helpers */

.wrapper {
  margin: auto;
  max-width: $maxwidth;
  padding: 0 $spacing;
  @include bp(md) {
    padding: 0 $spacing-fixed-sm;
  }
}
.wrapper-sm {
  margin: auto;
  max-width: $maxwidth-sm;
  padding: 0 $spacing;
  @include bp(md) {
    padding: 0 $spacing-fixed-sm;
  }
}
.wrapper-lg {
  margin: auto;
  max-width: $maxwidth-lg;
  padding: 0 $spacing-fixed-sm;
}

/* Lists */

ul, ol {
	margin: 0 0 $spacing-fixed 40px;
	padding: 0;
	li {
		list-style-position: outside;
		margin-bottom: 5px;
		ul, ol {
			margin-top: 10px;
		}
	}
}
ul li { list-style: disc; }
ol li { list-style: decimal; }
dl {
	margin: 0 0 $spacing-fixed 0;
	overflow: hidden;
	dt, dd{
		float: left;
	}
	dt {
		font-weight: 700;
 		width: 30%;
  	overflow: hidden;
  	clear: both;
  	text-align: right;
  	margin: 0 0 7px 0;
	}
	dd {
		margin: 0 0 7px 0;
		padding-left: 20px;
		width: 70%;
	} 
	@include bp(md) {
		dt, dd {
			float: none;
			text-align: left;
			width: 100%;
		}
		dt {
			margin: 0;
		}
		dd {
			margin: 0 0 7px 0;
			padding: 0;
		}
	}
} 

/* Column Lists */

ul.two-col-list {
  margin: 0 -10px $spacing-fixed -10px;
  padding: 0;
  @include cf();
  @include font-size(0);
  li {
    display: inline-block;
    @include font-size(1.6);
    @include line-height(2.2);
    width: 50%;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0 10px;
    @include bp(md) {
      float: none;
      width: 100%;
    }
  }
}

ul.three-col-list {
  margin: 0 -10px $spacing-fixed -10px;
  padding: 0;
  @include cf();
  @include font-size(0);
  li {
    display: inline-block;
    @include font-size(1.6);
    @include line-height(2.2);
    width: 33.33333333%;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0 10px;
    @include bp(md) {
      float: none;
      width: 100%;
    }
  }
}

/* Buttons */

.button, .action, input[type=submit], button a { @include button(1.8, $primarycolor, #fff, 20px 50px); }
.secondary-button { @include button(1.8, $secondarycolor, #fff, 20px 50px); }
.ghost-button { @include ghostbutton(1.7, $primarycolor, 16px 40px); }

/* Pagination */

.pagination {
	border: 0;
	clear: both;
	@include font-size(1.5);
  @include line-height(2.1);
	margin: 40px 0 $spacing-fixed 0;
	overflow: hidden;
	padding: 0;
	li {
		border: 0;
		display: inline-block; zoom:1; *display: inline;
		list-style: none;
		margin: 0 4px 0 0;
		padding: 0;
		a {
			border: solid 1px $offsetcolor;
			@include border-radius(3px);
		}
	}
	.previous-off, .next-off { display: none; }
	li.active {
		background: $primarycolor;
		border: solid 1px transparent;
		color: #fff;
		padding: 6px 12px 3px 12px;
		@include border-radius(3px);
	}
	a:link, a:visited {
		background: $offsetcolor_subtle;
		display: block;
		padding: 6px 10px 3px 10px;
		text-decoration: none;
	}
	a:hover {
		background: $secondarycolor;
		border: solid 1px transparent;
		color: #fff;
	}
} 


/* tabs */

ul.tabs {
	border-bottom: 1px solid $offsetcolor;
	margin: 0 0 $spacing-fixed 0;
	padding: 0;
	position: relative;
	li {
		list-style: none;
		margin: 0 0 0 0;
		padding: 0;
		a {
			@include primaryfont();
			background: #eee;
			border-right: 1px solid $offsetcolor;
			border-top: 1px solid $offsetcolor;
			color: #656565;
			cursor: pointer;
			font-weight: 400;
			float: left;
			padding: 8px 16px;
			position: relative;
			top: 1px;
		}
		a:hover {
			background: $primarycolor;
			color: #fff;
			text-decoration: none;
		}
	}
	li:first-child a {
		border-left: 1px solid $offsetcolor;
	}
	li.active a {
		background: #fff;
		color: #232323;
		font-weight: 800;
		position: relative;
		top: 1px;
	}
}


/* Table Styles */

table {
  border: none;
  margin: 0 0 $spacing-fixed 0;
  width: 100%;
  th {
    background: $primarycolor;
    border-bottom: 1px solid $primarycolor_dark;
    border-right: 1px solid $primarycolor_dark;
    color: #fff;
    font-weight: 700;
    @include secondaryfont();
    padding: 10px 15px;
    text-align: left;
    a { color: #fff; }
    a:hover {
      color: $primarycolor_verylight;
      text-decoration: underline;
    }
    small { color: $primarycolor_verylight; }
  }
  tbody th {
    background: $offsetcolor_subtle;
    color: $textcolor;
    border-right: none;
    border-bottom: 1px solid $offsetcolor_strong;
  }
  th:last-child { border-right: none; }
  tr {
    td {
      border-bottom: 1px solid $offsetcolor;
      color: $textcolor;
      padding: 10px 15px;
      vertical-align: top;
    }
  }
  tr:nth-child(even) { background: $offsetcolor_verysubtle; }
  tr:nth-child(odd) { background: #fff; }
  tr:last-child { border-bottom: none; }
  ul { 
    margin: 2px 0 0 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0 0 3px 0;
      padding: 0;
    }
  }
  tfoot {
    td {
      background: $darkcolor;
      color: $textcolor_reversed;
    }
  }
}

/* Breaks */

hr {
  @include cf();
  margin: $spacing-fixed 0;
  width: 100%;
  display: block;
  height: 1px;
  background: $offsetcolor;
  border: none;
}


/* ==========================================================================
   Base Styles
   ========================================================================== */ 

/* Embeds */

object, embed {
  height: 100%;
}

/* Images */

img {
	display: block;
	height: auto;
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}
img.left {
	float: left;
	margin: 0 $spacing-fixed $spacing-fixed 0;
}
img.right {
	float: right;
	margin: 0 0 $spacing-fixed $spacing-fixed;
}
img.leftAlone {
	display: block;
	margin: 0 0 $spacing-fixed 0;
}
img.center {
	display: block;
	margin: 0 auto $spacing-fixed auto;
}
.captionImage img {
	margin-bottom: 10px;
}
.captionImage.center {
	margin-left: auto;
	margin-right: auto;
	width: 100% !important;
}
.captionImage.right {
	margin-left: $spacing-fixed;
	float: right;
}
.captionImage.left {
	float: left;
}
.captionImage.left, .captionImage.leftAlone {
	margin-right: $spacing-fixed;
}
.captionImage {
	margin-bottom: $spacing-fixed;
	max-width: 100%;
}
.caption {
	@include secondaryfont();
	text-align: left;
	@include font-size(1.6);
  @include line-height(2.2);
	margin: 0;
	width: 100%;
}
.captionImage.center .caption {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}


/* ==========================================================================
   Vanity Styles
   ========================================================================== */ 

::selection {
	background: $primarycolor;
	color: #fff;
}
::-moz-selection {
	background: $primarycolor;
	color: #fff;
}


/* ==========================================================================
   Typography
   ========================================================================== */ 

html {
  	font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body {
	color: $textcolor;
	@include primaryfont();
	@include font-size(1.6);
  @include line-height(2.2);
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p, pre, address { margin: 0 0 $spacing-fixed 0; }
h1, h2, h3, h4, h5, h6 {
	color: $textcolor_medstrong;
	@include secondaryfont();
	font-weight: 400;
	margin: 0 0 $spacing-fixed-sm 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: $textcolor_subtle;
    line-height: 0;
}
h1 {
  @include font-size(3.2);
  @include line-height(3.9);
}
h2 {
  @include font-size(2.6);
  @include line-height(3.3);
}
h3 {
  @include font-size(2.1);
  @include line-height(2.8);
}
h4 {
  @include font-size(1.8);
  @include line-height(2.5);
}
h5 { 
  @include font-size(1.6);
  @include line-height(2.3);
}
h6 {
  @include font-size(1.4);
  @include line-height(2.1);
}
a {
	color: $primarycolor;
	outline: none;
	text-decoration: none;
	@include transition-duration($transitionduration);
}
a:hover, a:visited { color: $secondarycolor; }
strong {
	color: $textcolor_medstrong;
	font-weight: 700;
}
small {
	color: $textcolor_subtle;
	@include secondaryfont();
	font-style: italic;
}
code {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-weight: bold;
	color: $textcolor_subtle;
}
.center-text, .text-center, .ct { text-align: center; }
.right-text, .text-right, .rt { text-align: right; }
blockquote {
	border: none;
	margin: 0 0 $spacing-fixed-sm 0;
	padding: 5px $spacing 0 $spacing;
	min-height: 35px;
	position: relative;
	z-index: 2;
	font-style: italic;
	@include secondaryfont();
	color: $textcolor;
  @include font-size(2.1);
  @include line-height(2.8);
	font-weight: 400;
	text-align: center;
	width: 100%;
	p { display: inline-block; }
	p:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
blockquote:before, blockquote:after {
	display: block;
	height: 35px;
	width: 44px;
	position: absolute;
	z-index: -1;
}
blockquote:before {
	content: url(../../img/blockquote.png) no-repeat;
	top: 0;
	left: 0;
}
blockquote:after {
	content: url(../../img/blockquote-closed.png) no-repeat;
	bottom: 0;
	right: 0;
}
q {
  font-style: italic;
  @include secondaryfont();
  font-weight: 400;
}
figcaption, cite {
	color: $textcolor_subtle;
  @include font-size(1.4);
  @include line-height(2.0);
	@include primaryfont();
	font-style: normal;
	display: block;
	margin: 0 0 $spacing-fixed 0;
	font-weight: 300;
	text-align: right;
}
figcaption:before, cite:before {
	content: "\2014\00a0";
	display: inline-block;
}
.caption {
	@include secondaryfont();
	text-align: left;
  @include font-size(1.6);
  @include line-height(2.2);
	margin: 0;
	width: 100%;
}
.captionImage.center .caption {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}
.primary-color { color: $primarycolor; }
.secondary-color { color: $secondarycolor; }
.reversed { color: #fff; }
.allcaps { text-transform: uppercase; }



























