
// Buttons

.btn {
  @include rem(font-size, $base-font-size);
  @include rem(padding, 7px 15px);
  @include transition-duration($transitionduration);
  border: 1px solid transparent;
  color: $textcolor;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &__default {
    background: $offsetcolor-subtle;
    border: 1px solid $offsetcolor-strong;
    color: $textcolor;

    &:hover {
      background: $offsetcolor;
    }
  }

  &__primary {
    background: $primarycolor;
    color: $white;

    &:hover {
      background: $primarycolor-dark;
    }
  }

  &__secondary {
    background: $secondarycolor;
    color: $white;

    &:hover {
      background: $secondarycolor-dark;
    }
  }

  &__ghost {
    border: 1px solid $primarycolor;
    color: $primarycolor;

    &:hover {
      background: $primarycolor;
      border: 1px solid transparent;
      color: $white;
    }
  }

  &--lg {
    @include rem(font-size, $base-font-size * 1.2);
  }

  &--sm {
    @include rem(font-size, $base-font-size * .8);
  }
}
