
/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
  @extend %clearfix;
  @include rem(font-size, 15px);
  @include rem(line-height, 21px);
  @include rem(margin, $gap-fixed-lg 0 ($gap-fixed-lg - 6px) 0);
  overflow: hidden;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
    @include rem(margin, 0 2px 6px 0);
    padding: 0;
    &.active a {
      background: $primarycolor;
      color: #fff;
    }
  }
  a {
    background: $primarycolor;
    display: block;
    @include rem(padding, 6px 12px);
    text-decoration: none;
    color: $textcolor-subtle;
    @include border-radius(3px);
    @include transition-duration($transitionduration);
  }
  a:hover {
    color: $textcolor-medstrong;
  }
} 