
// Pagination

.pagination {
  @extend %clearfix;
  @include rem(font-size, 15px);
  @include rem(line-height, 21px);
  @include rem(margin, $gap-lg 0 ($gap-lg - 6px) 0);
  overflow: hidden;
  padding: 0;

  li {
    @include rem(margin, 0 2px 6px 0);
    display: inline-block;
    list-style: none;
    padding: 0;

    &.active {
      a {
        background: $primarycolor;
        color: $white;
      }
    }
  }

  a {
    @include rem(padding, 6px 12px);
    @include border-radius(3px);
    @include transition-duration($transitionduration);
    background: $primarycolor;
    color: $textcolor-subtle;
    display: block;
    text-decoration: none;

    &:hover {
      color: $textcolor-medstrong;
    }
  }
}
