
/* ==========================================================================
   Base
   ========================================================================== */


/* Border Box */

html { @include box-sizing(border-box); }
*, *:before, *:after { @include box-sizing(inherit); }


/* Vanity Styles */ 

::selection {
  background: $primarycolor;
  color: #fff;
}
::-moz-selection {
  background: $primarycolor;
  color: #fff;
}


/* Base Lists */

ul, ol {
  @include rem(margin, 0 0 $gap-fixed $gap-fixed-lg);
  padding: 0;
  > li {
    list-style-position: outside;
    @include rem(margin-bottom, 5px);
    > ul, > ol {
      @include rem(margin-top, 10px);
    }
  }
}
ul > li { list-style: disc; }
ol > li { list-style: decimal; }


/* Base Table Styles */

table {
  border: none;
  @include rem(margin, 0 0 $gap-fixed 0);
  width: 100%;
  th {
    background: $primarycolor;
    border-bottom: 1px solid $primarycolor_dark;
    border-right: 1px solid $primarycolor_dark;
    color: #fff;
    font-weight: 700;
    @extend %secondaryfont;
    @include rem(padding, 10px 15px);
    text-align: left;
    a { color: #fff; }
    a:hover {
      color: $primarycolor_verylight;
      text-decoration: underline;
    }
    small { color: $primarycolor_verylight; }
  }
  tbody th {
    background: $offsetcolor_subtle;
    color: $textcolor;
    border-right: none;
    border-bottom: 1px solid $offsetcolor_strong;
  }
  th:last-child { border-right: none; }
  tr {
    td {
      border-bottom: 1px solid $offsetcolor;
      color: $textcolor;
      @include rem(padding, 10px 15px);
      vertical-align: top;
    }
  }
  tr:nth-child(even) { background: $offsetcolor_verysubtle; }
  tr:nth-child(odd) { background: #fff; }
  tr:last-child { border-bottom: none; }
  ul { 
    @include rem(margin, 2px 0 0 0);
    padding: 0;
    li {
      list-style-type: none;
      @include rem(margin, 0 0 3px 0);
      padding: 0;
    }
  }
  tfoot {
    td {
      background: $darkcolor;
      color: $textcolor_reversed;
    }
  }
}

/* Breaks */

hr {
  @extend %clearfix;
  @include rem(margin, $gap-fixed 0);
  width: 100%;
  display: block;
  height: 1px;
  background: $offsetcolor;
  border: none;
}


/* Embeds */

object, embed {
  height: 100%;
}


/* Base Image Styles / SS Image Styles */

img {
  display: block;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
img.left {
  float: left;
  @include rem(margin, 0 $gap-fixed $gap-fixed 0);
}
img.right {
  float: right;
  @include rem(margin, 0 0 $gap-fixed $gap-fixed);
}
img.leftAlone, img.left-alone {
  display: block;
  float: none;
  @include rem(margin, 0 0 $gap-fixed 0);
}
img.center {
  display: block;
  @include rem(margin, 0 auto $gap-fixed auto);
}
.captionImage img {
  @include rem(margin-bottom, $gap-fixed-xs);
}
.captionImage.center {
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
}
.captionImage.right {
  @include rem(margin-left, $gap-fixed);
  float: right;
}
.captionImage.left {
  float: left;
}
.captionImage.left, .captionImage.leftAlone {
  @include rem(margin-right, $gap-fixed);
}
.captionImage {
  @include rem(margin-bottom, $gap-fixed);
  max-width: 100%;
}
.caption {
  @extend %secondaryfont;
  text-align: left;
  @include rem(font-size, 16px);
  @include rem(line-height, 22px);
  margin: 0;
  width: 100%;
}
.captionImage.center .caption {
  @include rem(margin, 0 auto);
  text-align: center;
  width: 90%;
}

