
// Helper Classes

.gutter {
  width: $jeet-gutter + unquote('%');
}

.inline {
  display: inline;
}

.circle {
  @include circle;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.block__full {
  display: block;
  width: 100%;
}

.block__full--xs {
  @include bp(xs) {
    display: block;
    width: 100%;
  }
}

// Flex Stuff

.flexbox {
  .flex {
    @include display-flex(flex);
  }

  .flex__center-y {
    @include align-items(center);
  }

  .flex__center-x {
    @include justify-content(center);
  }

  .flex__push-last {
    > * {
      &:last-child {
        margin-left: auto;
      }
    }
  }

  .flex__items-fill {
    > * {
      @include flex(1 0 0);
      white-space: nowrap;
    }
  }
}

.no-flexbox {
  .flex {
    display: block;
    width: 100%;

    > * {
      display: inline-block;
    }
  }

  .flex__center-y {
    > * {
      vertical-align: middle;
    }
  }

  .flex__center-x {
    text-align: center;

    > * {
      display: inline-block;
    }
  }

  .flex__push-last {
    > * {
      &:not(:last-child) {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }
}

// Clearfix

%clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}
