
// Typography Classes

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-reversed {
  color: $white;
}

.primary-color {
  color: $primarycolor;
}

.secondary-color {
  color: $secondarycolor;
}

.all-caps {
  text-transform: uppercase;
}

// Structural Classes

%clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.inline {
  display: inline;
}

.circle {
  @include circle;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

// Flex Classes

.flexbox {
  .flex {
    @include display-flex(flex);
  }

  .flex--center-y {
    @include align-items(center);
  }

  .flex--center-x {
    @include justify-content(center);
  }

  .flex--push-last {
    > * {
      &:last-child {
        margin-left: auto;
      }
    }
  }

  .flex--items-fill {
    > * {
      @include flex(1 0 0);
      white-space: nowrap;
    }
  }
}

.no-flexbox {
  .flex {
    display: block;
    overflow: hidden;

    > * {
      display: inline-block;
    }
  }

  .flex--center-y {
    > * {
      vertical-align: middle;
    }
  }

  .flex--center-x {
    text-align: center;

    > * {
      display: inline-block;
    }
  }

  .flex--push-last {
    width: 100%;
    
    > * {
      &:not(:last-child) {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }
}
