
// Settings

// Colors

$primarycolor: #444;
$primarycolor-dark: darken($primarycolor, 6%);
$primarycolor-meddark: darken($primarycolor, 15%);
$primarycolor-verydark: darken($primarycolor, 30%);
$primarycolor-light: lighten($primarycolor, 10%);
$primarycolor-medlight: lighten($primarycolor, 20%);
$primarycolor-verylight: lighten($primarycolor, 40%);
$secondarycolor: #777;
$secondarycolor-dark: darken($secondarycolor, 6%);
$secondarycolor-meddark: darken($secondarycolor, 15%);
$secondarycolor-verydark: darken($secondarycolor, 30%);
$secondarycolor-light: lighten($secondarycolor, 10%);
$secondarycolor-medlight: lighten($secondarycolor, 20%);
$secondarycolor-verylight: lighten($secondarycolor, 40%);
$textcolor: #686868;
$textcolor-strong: darken($textcolor, 10%);
$textcolor-medstrong: darken($textcolor, 20%);
$textcolor-verystrong: darken($textcolor, 30%);
$textcolor-subtle: lighten($textcolor, 10%);
$textcolor-medsubtle: lighten($textcolor, 25%);
$textcolor-verysubtle: lighten($textcolor, 40%);
$textcolor-reversed: #eee;
$textcolor-reversed-strong: lighten($textcolor-reversed, 10%);
$textcolor-reversed-medstrong: lighten($textcolor-reversed, 20%);
$textcolor-reversed-verystrong: lighten($textcolor-reversed, 30%);
$textcolor-reversed-subtle: darken($textcolor-reversed, 10%);
$textcolor-reversed-medsubtle: darken($textcolor-reversed, 25%);
$textcolor-reversed-verysubtle: darken($textcolor-reversed, 40%);
$offsetcolor: #ccc;
$offsetcolor-subtle: lighten($offsetcolor, 5%);
$offsetcolor-medsubtle: lighten($offsetcolor, 10%);
$offsetcolor-verysubtle: lighten($offsetcolor, 20%);
$offsetcolor-strong: darken($offsetcolor, 10%);
$offsetcolor-medstrong: darken($offsetcolor, 20%);
$offsetcolor-verystrong: darken($offsetcolor, 30%);
$darkcolor: #222;
$darkcolor-light: lighten($darkcolor, 10%);
$darkcolor-medlight: lighten($darkcolor, 20%);
$darkcolor-verylight: lighten($darkcolor, 30%);
$darkcolor-dark: darken($darkcolor, 10%);
$darkcolor-meddark: darken($darkcolor, 20%);
$darkcolor-verydark: darken($darkcolor, 30%);
$alertcolor: #c40000;
$alertcolor-dark: darken($alertcolor, 10%);
$alertcolor-meddark: darken($alertcolor, 20%);
$alertcolor-verydark: darken($alertcolor, 30%);
$alertcolor-light: lighten($alertcolor, 20%);
$alertcolor-medlight: lighten($alertcolor, 35%);
$alertcolor-verylight: lighten($alertcolor, 55%);
$successcolor: #00b548;
$successcolor-dark: darken($successcolor, 10%);
$successcolor-meddark: darken($successcolor, 20%);
$successcolor-verydark: darken($successcolor, 30%);
$successcolor-light: lighten($successcolor, 20%);
$successcolor-medlight: lighten($successcolor, 35%);
$successcolor-verylight: lighten($successcolor, 55%);
$white: #fff;

// Functionality / Structure

$transitionduration: .4s;
$borderradius: .1875rem;
$gap: 5%;
$gap-xs: $gap * .5;
$gap-sm: $gap * .75;
$gap-lg: $gap * 2;
$gap-xl: $gap * 3;
$gap-fixed: 30px;
$gap-fixed-xs: $gap-fixed * .4;
$gap-fixed-sm: $gap-fixed * .7;
$gap-fixed-lg: $gap-fixed * 1.5;
$gap-fixed-xl: $gap-fixed * 2;
$maxwidth: 1200px;
$maxwidth-xs: $maxwidth * .4;
$maxwidth-sm: $maxwidth * .8;
$maxwidth-lg: $maxwidth * 1.2;
$maxwidth-xl: $maxwidth * 1.4;
$base-font-size: 16px;
$primary-font: 'font-family: arial, helvetica, sans-serif';
$secondary-font: 'font-family: georgia, times, serif';
