
// Typography

html {
  font-size: 100%; // Document level font size
}

body {
  @include rem(font-size, $base-font-size);
  @include rem(line-height, $base-font-size * 1.7);
  color: $textcolor;
  font-family: $primary-font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

p,
pre,
address {
  @include rem(margin, 0 0 $gap-fixed 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include rem(margin, 0 0 $gap-fixed-sm 0);
  color: $textcolor-medstrong;
  font-family: $secondary-font;
  font-weight: 700;

  small {
    color: $textcolor-subtle;
    font-size: 60%;
  }
}

h1 {
  @include rem(font-size, 32px);
  @include rem(line-height, 39px);
}

h2 {
  @include rem(font-size, 26px);
  @include rem(line-height, 33px);
}

h3 {
  @include rem(font-size, 21px);
  @include rem(line-height, 28px);
}

h4 {
  @include rem(font-size, 18px);
  @include rem(line-height, 25px);
}

h5 {
  @include rem(font-size, 16px);
  @include rem(line-height, 23px);
}

h6 {
  @include rem(font-size, 14px);
  @include rem(line-height, 21px);
}

a {
  color: $primarycolor;
  outline: none;
  text-decoration: none;

  &:hover {
    color: $secondarycolor;
  }
}

strong {
  color: $textcolor-medstrong;
  font-weight: 700;
}

small {
  @include rem(font-size, $base-font-size * .8);
  color: $textcolor-subtle;
  font-family: $secondaryfont;
  font-style: italic;
}

code {
  color: $textcolor-subtle;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-weight: 400;
}

.text__center {
  text-align: center;
}

.text__right {
  text-align: right;
}

.text__left {
  text-align: left;
}

blockquote {
  @include rem(margin, 0 0 $gap-fixed-sm 0);
  @include rem(padding, 5px $gap 0 $gap);
  @include rem(min-height, 35px);
  @include rem(font-size, 21px);
  @include rem(line-height, 28px);
  border: 0;
  color: $textcolor;
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 400;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  p {
    display: inline-block;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

  }

  &:before,
  &:after {
    @include rem(height, 35px);
    @include rem(width, 44px);
    display: block;
    font-family: $secondary-font;
    position: absolute;
    z-index: -1;
  }

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

q {
  font-family: $secondaryfont;
  font-style: italic;
  font-weight: 400;
}

figcaption,
cite {
  @include rem(font-size, 14px);
  @include rem(line-height, 20px);
  @include rem(margin, 0 0 $gap-fixed 0);
  color: $textcolor-subtle;
  display: block;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 300;
  text-align: right;

  &:before {
    content: '\2014\00a0';
    display: inline-block;
  }
}

.primary-color {
  color: $primarycolor;
}

.secondary-color {
  color: $secondarycolor;
}

.reversed {
  color: $white;
}

.all-caps {
  text-transform: uppercase;
}
