
// Inspiration from http://geek-rocket.de/frontend-development/scss-grid-with-ease/

$maxwidth: 1200px;
$maxcols: 12;
$gutterwidth: 5%;
$gutterheight: 5%;

.wrapper {
  margin: auto;
  width: 90%;
  max-width: $maxwidth;
}
.wrapper-full {
  margin: auto;
  width: 100%;
  @include bp(tablet) {
    width: 90%;
  }
}

@mixin col($col, $maxcols: 12) {
  width: (100%/$maxcols)*$col;
}

.row {
  margin-left: -$gutterwidth;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  letter-spacing: -.31em;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &:first-child {
    margin-top: -$gutterheight;
  }
}


// Each column
[class^="col-"],
[class*="col-"] {
  display: inline-block;
  margin-top: $gutterheight;
  padding-left: $gutterwidth;
  vertical-align: top;
  letter-spacing: normal;
  text-align: left;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}

// Full Grid
@for $i from 1 through $maxcols {      
    .col-#{$i} {         
    @include col($i, $maxcols);
   }          
}

// Tablet Grid
@for $i from 1 through $maxcols {      
    .col-md-#{$i} {  
      @include bp(tablet) {
      @include col($i, $maxcols);
      }       
   }          
}

// Mobile Grid
@for $i from 1 through $maxcols {      
    .col-sm-#{$i} {  
      @include bp(mobile) {
      @include col($i, $maxcols);
      }       
   }          
}


// Drop the top margin
.full-col {
  .row {
    &:first-child {
      margin-top: 0;
    }
  }
  [class^="col-"],
  [class*="col-"] {
      margin-top: 0;
  }
}