
// Forms

@mixin input-styles {
  @include rem(font-size, 16px);
  @include rem(line-height, 23px);
  @include rem(padding, 6px);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $offsetcolor;
  border: 1px solid $offsetcolor-verystrong;
  border-radius: 0;
  box-shadow: none;
  color: $textcolor;
  font-family: $sans-serif;
  height: auto;
  margin: 0;
  outline: none;
}

@mixin input-focus-styles {
  box-shadow: 0 0 6px $primarycolor;
  outline: 0 none;
}

@mixin label-styles {
  @include rem(font-size, 18px);
  @include rem(line-height, 25px);
  @include rem(padding, 0 0 $gap-xs 0);
  clear: both;
  color: $textcolor-strong;
  font-family: $sans-serif;
  font-weight: 700;
  margin: 0;
}

form {
  @include rem(margin, 0 0 $gap 0);
  display: block;

  label {
    &.left {
      @include label-styles;
      display: block;

      small {
        @include rem(font-size, 14px);
        @include rem(line-height, 21px);
        font-weight: 400;
      }
    }

    &.right {
      @include rem(font-size, 16px);
    }
  }

  legend {
    &.left {
      @include label-styles;
    }
  }

  ul,
  ol {
    @include rem(font-size, 16px);
    @include rem(line-height, 22px);
    @include rem(padding, 0 0 $gap-sm $gap);
    margin: 0;

    li {
      @include rem(margin-bottom, 5px);

      &:last-child {
        margin-bottom: 0;
      }

      &.even {
        background: none;
      }
    }
  }

  h2,
  .FormHeading {
    @include rem(font-size, 22px);
    @include rem(line-height, 29px);
    @include rem(margin, $gap-xs 0 $gap-sm);
    @include rem(padding, $gap-xs 0);
    border-bottom: 1px solid $offsetcolor;
    border-top: 1px solid $offsetcolor;
    clear: both;
    width: 100%;
  }
}

fieldset {
  @include rem(margin, 0 -6px);
  border: 0;
  padding: 0;

  &.form-step {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.step-navigation {
  .step-buttons {
    padding: 0;
  }
}

input {
  @include input-styles;
  width: 100%;

  &:focus,
  &:active,
  &:target {
    @include input-focus-styles;
  }

  &.checkbox {
    @include rem(margin-right, 10px);
    float: left;
    width: inherit;
  }
}

textarea {
  @include input-styles;
  vertical-align: top;
  width: 100%;

  &:focus {
    @include input-focus-styles;
  }
}

select {
  @include rem(font-size, 14px);
  @include rem(line-height, 21px);
  @include rem(max-width, 540px);
  @include rem(height, 34px);
  -webkit-appearance: menulist-button;
  border: 1px solid $offsetcolor-verystrong;
  width: auto;

  &[multiple] {
    height: auto;
  }
}

.field {
  @include rem(margin, 0 -2px $gap-sm -2px);
  @include rem(padding, 0 7.5px);
  @include bp(md) {
    margin-right: 0;
  }
  display: inline-block;
  font-size: 0;
  vertical-align: bottom;

  &.text,
  &.email {
    @include bp(md) {
      width: 100%;
    }
    width: 50%;
  }

  &.literal,
  &.textarea {
    width: 100%;
  }

  &.checkboxset,
  &.optionset {
    @extend %clearfix;
    width: 100%;
  }

  &.mathspamprotector {
    display: block;
    width: 100%;

    input {
      &.mathspamprotector {
        @include rem(width, 100px);
      }
    }
  }
}

ul {
  &.optionset,
  &.checkboxset {
    @extend %clearfix;
    @include rem(padding, 0 0 $gap-sm 0);
    display: block;
    width: 100%;

    li {
      list-style: none;
    }

    input {
      @include rem(margin, 4px 8px 0 0);
      border: 0;
      display: block;
      float: left;
      padding: 0;
      width: auto;
    }

    label {
      &.right {
        float: left;
      }
    }
  }
}

.middleColumn {
  clear: left;
  position: relative;
  width: auto;
}

.editable-area {
  .checkboxsetfield,
  .optionset {
    margin: 0;
    padding: 0;
  }
}

.tab {
  .field {
    .middleColumn {
      clear: none !important;
      margin: 0 !important;
      width: auto;
    }
  }
}

label {
  &.right {
    @include rem(padding, 0 0 5px 0);
    margin: 0;
    text-align: left;
  }
}

.required,
.requiredField,
.mathspamprotector {
  label {
    &.left {
      &::after {
        color: $alertcolor;
        content: ' *';
        font-weight: 400;
      }
    }
  }
}

.required {
  @include rem(padding, $gap-xs $gap-sm);
  @include rem(font-size, 16px);
  @include rem(line-height, 22px);
  @include rem(top, -2px);
  background: $alertcolor-dark;
  color: $white;
  display: block;
  font-weight: 700;
  position: relative;
  text-align: center;
  width: 100%;

  &::before {
    @include ctr(x);
    @include rem(top, -9px);
    @include rem(margin-left, -9px);
    @include triangle(up, 9px, $alertcolor-dark);
    content: '';
    display: block;
  }
}

.message {
  &.error {
    @include rem(margin-top, 10px);
    @include rem(font-size, 16px);
    @include rem(line-height, 22px);
    color: $alertcolor-dark;
    display: block;
    font-weight: 700;
  }
}

.success {
  @include rem(font-size, 18px);
  @include rem(line-height, 23px);
  @include rem(padding, $gap-sm);
  @include rem(margin, 0 0 $gap-sm 0);
  background: $successcolor-dark;
  border: 3px solid $successcolor-meddark;
  color: $white;
  display: block;
  font-weight: 700;
  text-align: center;
}

.form-text {
  color: $textcolor;
}
